In [1]:
pip install pandas

Requirement already satisfied: pandas in /root/miniconda3/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in /root/miniconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /root/miniconda3/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /root/miniconda3/lib/python3.12/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /root/miniconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /root/miniconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /root/miniconda3/lib/python3.12/site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in /root/miniconda3/lib/python3.12/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /root/miniconda3/lib/python3.12/site-packages (from scikit-learn) (1.13.0)
Requirement already satisfied: joblib>=1.2.0 in /root/miniconda3/lib/python3.12/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /root/miniconda3/lib/python3.12/site-packages (from scikit-learn) (3.4.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

# LOAD LIBRARIES

In [1]:
import pandas as pd
from datetime import date
from sklearn.model_selection import train_test_split

# LOAD DATA

### B2W

In [2]:
df_b2w = pd.read_csv("../dataset/B2W-Reviews01.csv", usecols =['review_text', 'overall_rating'])
# Renombrar columnas
df_b2w.rename(columns={'review_text':'review', 'overall_rating':'label'}, inplace=True)

print(df_b2w.shape)
df_b2w.head(10)

(132373, 2)

   label                                             review
0      4  Estou contente com a compra entrega rápida o ú...
1      4  Por apenas R$1994.20,eu consegui comprar esse ...
2      4  SUPERA EM AGILIDADE E PRATICIDADE OUTRAS PANEL...
3      4  MEU FILHO AMOU! PARECE DE VERDADE COM TANTOS D...
4      5  A entrega foi no prazo, as americanas estão de...
5      5  Excelente produto, por fora em material acríli...
6      5  produto mto bom, com essa garrafinha vc pode a...
7      4  Produto excelente qualidade boa câmera desenvo...
8      5  O barulho e minimo e o vento é bem forte na ve...
9      1  MEU PRODUTO NAO FOI ENTREGUE E A AMERICANAS ES...

### UTLC APPS

In [3]:
df_utlcapps = pd.read_csv("../dataset/utlc_apps.csv", usecols =['review_text', 'rating'])
# Renombrar columnas
df_utlcapps.rename(columns={'review_text':'review', 'rating':'label'}, inplace=True)

print(df_utlcapps.shape)
df_utlcapps.head(10)

(1039535, 2)

                                              review  label
0                                  eu curtindo muito    5.0
1  Aplicativo absurdamente caro e o valor para se...    1.0
2           Não é mais tão simples com o novo layout    4.0
3  Estava com um problema para acessar, porém con...    5.0
4  Eu gostei muito do jogo tenho no celular da mi...    5.0
5  Já cancelei a assinatura pelo site como mandam...    2.0
6             Provável substituto do google reader..    4.0
7                                             adorei    5.0
8                                          Muito bom    4.0
9                                                Bom    5.0

### ULTC MOVIES

In [5]:
df_utlcmovies = pd.read_csv("../dataset/utlc_movies.csv", usecols =['review_text', 'rating'])
# Renombrar columnas
df_utlcmovies.rename(columns={'review_text':'review', 'rating':'label'}, inplace=True)

print(df_utlcmovies.shape)
df_utlcmovies.head(10)

(1487449, 2)

                                              review  label
0                         Um dos melhores desenhos!!      4
1  O filme é realmente diferente e bem lento mas ...      4
2     Hilário em alguns momentos, e muito bem feito.      4
3                         choro toda vez que vejo :(      5
4                                           Niiiice!      4
5  Grave se encaixa perfeitamente no que se defin...      4
6  Sempre que assisto esse filme amo mais ainda. ...      5
7  Dc Comics está de parabéns por estar realizand...      4
8  Pode ter ótimos efeitos e blabla, mas n conseg...      2
9  Depois de várias tentativas, acho que finalmen...      3

# COUNT WORDS

In [6]:
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')  # Descargar los recursos necesarios

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [7]:
# Contar las palabras por fila, maximo, minimo y media
def count_words_nltk(texto):
    if texto!='nan' and not pd.isna(texto):
        words = word_tokenize(texto)
        cant_words = len(words)
    else:
        cant_words = 0
    return cant_words

In [8]:
df_b2w.head()

   label                                             review
0      4  Estou contente com a compra entrega rápida o ú...
1      4  Por apenas R$1994.20,eu consegui comprar esse ...
2      4  SUPERA EM AGILIDADE E PRATICIDADE OUTRAS PANEL...
3      4  MEU FILHO AMOU! PARECE DE VERDADE COM TANTOS D...
4      5  A entrega foi no prazo, as americanas estão de...

In [9]:
cant_words_b2w = [ count_words_nltk(sentence) for sentence in df_b2w['review'] ]
cant_words_utlcapps = [ count_words_nltk(sentence) for sentence in df_utlcapps['review'] ]
cant_words_utlcmovies = [ count_words_nltk(sentence) for sentence in df_utlcmovies['review'] ]

In [10]:
total_words_b2w = sum(cant_words_b2w)
print("total_words_b2w: ",total_words_b2w)
total_words_utlcapps = sum(cant_words_utlcapps)
print("total_words_utlcapps: ",total_words_utlcapps)
total_words_utlcmovies = sum(cant_words_utlcmovies)
print("total_words_utlcmovies: ",total_words_utlcmovies)

total_words_b2w:  3453471
total_words_utlcapps:  14896949
total_words_utlcmovies:  62546789

In [11]:
# Calcular la media, el mínimo y el máximo
media_b2w = np.mean(cant_words_b2w)
minimo_b2w = np.min(cant_words_b2w)
maximo_b2w = np.max(cant_words_b2w)
# Imprimir los resultados
print("Media_b2w:", media_b2w)
print("Mínimo_b2w:", minimo_b2w)
print("Máximo_b2w:", maximo_b2w)
# Calcular la media, el mínimo y el máximo
media_utlcapps = np.mean(cant_words_utlcapps)
minimo_utlcapps = np.min(cant_words_utlcapps)
maximo_utlcapps = np.max(cant_words_utlcapps)
# Imprimir los resultados
print("Media_utlcapps:", media_utlcapps)
print("Mínimo_utlcapps:", minimo_utlcapps)
print("Máximo_utlcapps:", maximo_utlcapps)
# Calcular la media, el mínimo y el máximo
media_utlcmovies = np.mean(cant_words_utlcmovies)
minimo_utlcmovies = np.min(cant_words_utlcmovies)
maximo_utlcmovies = np.max(cant_words_utlcmovies)
# Imprimir los resultados
print("Media_utlcmovies:", media_utlcmovies)
print("Mínimo_utlcmovies:", minimo_utlcmovies)
print("Máximo_utlcmovies:", maximo_utlcmovies)

Media_b2w: 26.08893807649596
Mínimo_b2w: 0
Máximo_b2w: 1022
Media_utlcapps: 14.330396763937722
Mínimo_utlcapps: 1
Máximo_utlcapps: 612
Media_utlcmovies: 42.04970321671533
Mínimo_utlcmovies: 1
Máximo_utlcmovies: 11473

# PREPROCESSING

### B2W

In [12]:
#- Revisar si existen NAs en alguna columna
print("Are there NAs in the REVIEW column?: ",df_b2w.isna().any()['review'])
#- Cantidad de vacios
print("Number of NAs column REVIEW?: ", df_b2w.isna().sum()['review'])
print("--------------------------------------")
#Eliminar los NaN, se verifico que se elimine solo a los NaN
df_b2w = df_b2w.dropna() # Eliminando 3275 registros
print("Are there NAs in the REVIEW column?: ",df_b2w.isna().any()['review'])
print("--------------------------------------")
#- Encontrar duplicados
print("Number of duplicates: ", df_b2w.duplicated().sum())
df_b2w.drop_duplicates(inplace=True) #2305
print("--------------------------------------")
# Cantidad de duplicados despues de eliminarlos
print("Number of duplicates: ", df_b2w.duplicated().sum())

df_b2w.shape

Are there NAs in the REVIEW column?:  True
Number of NAs column REVIEW?:  3275
--------------------------------------
Are there NAs in the REVIEW column?:  False
--------------------------------------
Number of duplicates:  2305
--------------------------------------
Number of duplicates:  0

(126793, 2)

### UTLC APPS

In [13]:
#- Revisar si existen NAs en alguna columna
print("Are there NAs in the REVIEW column?: ",df_utlcapps.isna().any()['review'])
#- Cantidad de vacios
print("Number of NAs column REVIEW?: ", df_utlcapps.isna().sum()['review'])
print("--------------------------------------")
print("Are there NAs in the LABEL column?: ",df_utlcapps.isna().any()['label'])
#- Cantidad de vacios
print("Number of NAs column LABEL?: ", df_utlcapps.isna().sum()['label'])
print("--------------------------------------")
#Eliminar los NaN, se verifico que se elimine solo a los NaN
df_utlcapps = df_utlcapps.dropna() # 
print("Are there NAs in the LABEL column?: ",df_utlcapps.isna().any()['label'])
print("--------------------------------------")
#- Encontrar duplicados
print("Number of duplicates: ", df_utlcapps.duplicated().sum())
df_utlcapps.drop_duplicates(inplace=True) #221359
print("--------------------------------------")
# Cantidad de duplicados despues de eliminarlos
print("Number of duplicates: ", df_utlcapps.duplicated().sum())

df_utlcapps.shape # (818176, 2)

Are there NAs in the REVIEW column?:  False
Number of NAs column REVIEW?:  0
--------------------------------------
Are there NAs in the LABEL column?:  False
Number of NAs column LABEL?:  0
--------------------------------------
Are there NAs in the LABEL column?:  False
--------------------------------------
Number of duplicates:  221359
--------------------------------------
Number of duplicates:  0

(818176, 2)

### UTLC MOVIES

In [14]:
#- Revisar si existen NAs en alguna columna
print("Are there NAs in the REVIEW column?: ",df_utlcmovies.isna().any()['review'])
#- Cantidad de vacios
print("Number of NAs column REVIEW?: ", df_utlcmovies.isna().sum()['review'])
print("--------------------------------------")
print("Are there NAs in the LABEL column?: ",df_utlcmovies.isna().any()['label'])
print("--------------------------------------")
#- Cantidad de vacios
print("Number of NAs column LABEL?: ", df_utlcmovies.isna().sum()['label'])
print("--------------------------------------")
#Eliminar los NaN, se verifico que se elimine solo a los NaN
df_utlcmovies = df_utlcmovies.dropna() # Eliminando 297907 registros
print("Are there NAs in the LABEL column?: ",df_utlcmovies.isna().any()['label'])
print("--------------------------------------")
#- Encontrar duplicados
print("Number of duplicates: ", df_utlcmovies.duplicated().sum())
df_utlcmovies.drop_duplicates(inplace=True) #80120
print("--------------------------------------")
# Cantidad de duplicados despues de eliminarlos
print("Number of duplicates: ", df_utlcmovies.duplicated().sum())

df_utlcmovies.shape # (1407329, 2)

Are there NAs in the REVIEW column?:  False
Number of NAs column REVIEW?:  0
--------------------------------------
Are there NAs in the LABEL column?:  False
--------------------------------------
Number of NAs column LABEL?:  0
--------------------------------------
Are there NAs in the LABEL column?:  False
--------------------------------------
Number of duplicates:  80120
--------------------------------------
Number of duplicates:  0

(1407329, 2)

# SPLIT DATA FOR MASKED TRAINING (90%)  AND FOR BINARY CLASSIFICATION (10% )

In [16]:
# Guardar datos para la realizar luego la clasificacion binaria
PATH_RESULT = '../dataset'

### B2W

In [17]:
df_selfsupervised_90porcent_b2w, df_classification_10porcent_b2w = train_test_split(df_b2w, test_size=0.1, random_state=42, stratify=df_b2w['label'])

In [18]:
#df_mask_80of90_b2w, _ = train_test_split(df_mask_90porcent_b2w, test_size=0.2, random_state=42, stratify=df_mask_90porcent_b2w['label'])
#df_mask_60of90_b2w, _ = train_test_split(df_mask_90porcent_b2w, test_size=0.4, random_state=42, stratify=df_mask_90porcent_b2w['label'])
#df_mask_40of90_b2w, _ = train_test_split(df_mask_90porcent_b2w, test_size=0.6, random_state=42, stratify=df_mask_90porcent_b2w['label'])
#df_mask_20of90_b2w, _ = train_test_split(df_mask_90porcent_b2w, test_size=0.8, random_state=42, stratify=df_mask_90porcent_b2w['label'])
#df_selfsupervised_50of90_b2w, _ = train_test_split(df_selfsupervised_90porcent_b2w, test_size=0.5, random_state=42, stratify=df_selfsupervised_90porcent_b2w['label'])
df_selfsupervised_20of90_b2w, _ = train_test_split(df_selfsupervised_90porcent_b2w, test_size=0.8, random_state=42, stratify=df_selfsupervised_90porcent_b2w['label'])
#df_selfsupervised_10of90_b2w, _ = train_test_split(df_selfsupervised_90porcent_b2w, test_size=0.9, random_state=42, stratify=df_selfsupervised_90porcent_b2w['label'])

#df_selfsupervised_90porcent_b2w.to_csv(PATH_RESULT+'/df_selfsupervised_90porcent_b2w_'+str(date.today())+'.csv', index = False)
#df_classification_10porcent_b2w.to_csv(PATH_RESULT+'/df_classification_10porcent_b2w_'+str(date.today())+'.csv', index = False)

#df_mask_80of90_b2w.to_csv(PATH_RESULT+'/df_mask_80of90_b2w_'+str(date.today())+'.csv', index = False)
#df_mask_60of90_b2w.to_csv(PATH_RESULT+'/df_mask_60of90_b2w_'+str(date.today())+'.csv', index = False)
#df_mask_40of90_b2w.to_csv(PATH_RESULT+'/df_mask_40of90_b2w_'+str(date.today())+'.csv', index = False)
#df_mask_20of90_b2w.to_csv(PATH_RESULT+'/df_mask_20of90_b2w_'+str(date.today())+'.csv', index = False)
#df_selfsupervised_50of90_b2w.to_csv(PATH_RESULT+'/df_selfsupervised_50of90_b2w_'+str(date.today())+'.csv', index = False)
df_selfsupervised_20of90_b2w.to_csv(PATH_RESULT+'/df_selfsupervised_20of90_b2w_'+str(date.today())+'.csv', index = False)
#df_selfsupervised_10of90_b2w.to_csv(PATH_RESULT+'/df_selfsupervised_10of90_b2w_'+str(date.today())+'.csv', index = False)

### UTLC apps

In [ ]:
# UTLC APPS
df_mask_90porcent_utlcapps, df_classification_10porcent_utlcapps = train_test_split(df_utlcapps, test_size=0.1, random_state=42, stratify=df_utlcapps['label'])

In [9]:
df_mask_90porcent_utlcapps.to_csv(PATH_RESULT+'/df_mask_90porcent_utlcapps_'+str(date.today())+'.csv', index = False)
df_classification_10porcent_utlcapps.to_csv(PATH_RESULT+'/df_classification_10porcent_utlcapps_'+str(date.today())+'.csv', index = False)

### UTLC movies

In [7]:
# UTLC MOVIES
df_mask_90porcent_utlcmovies, df_classification_10porcent_utlcmovies = train_test_split(df_utlcmovies, test_size=0.1, random_state=42, stratify=df_utlcmovies['label'])

In [10]:
df_mask_90porcent_utlcmovies.to_csv(PATH_RESULT+'/df_mask_90porcent_utlcmovies_'+str(date.today())+'.csv', index = False)
df_classification_10porcent_utlcmovies.to_csv(PATH_RESULT+'/df_classification_10porcent_utlcmovies_'+str(date.today())+'.csv', index = False)

## Experimento de reducir UTLC-movies a la misma cantidad de B2W

In [8]:
import sys

def size_in_megabytes(variable):
    size_in_bytes = sys.getsizeof(variable)
    size_in_megabytes = size_in_bytes / (1024 * 1024)  # Convert bytes to megabytes
    return size_in_megabytes

La variable ocupa 36.73 MB

In [9]:
tamano_mb = size_in_megabytes(df_mask_90porcent_b2w)
print(f"La variable ocupa {tamano_mb:.2f} MB")

La variable ocupa 36.73 MB

In [15]:
df_mask_90porcent_b2w.shape

(114113, 2)

In [10]:
tamano_mb = size_in_megabytes(df_mask_90porcent_utlcmovies)
print(f"La variable ocupa {tamano_mb:.2f} MB")

La variable ocupa 644.65 MB

In [16]:
df_mask_90porcent_utlcmovies.shape

(1266596, 2)

In [33]:
# Obtener un subset del total
df_mask_subset_utlcmovies = df_mask_90porcent_utlcmovies.sample(72500, random_state=42)
df_mask_subset_utlcmovies.shape

(72500, 2)

In [34]:
tamano_mb = size_in_megabytes(df_mask_subset_utlcmovies)
print(f"La variable ocupa {tamano_mb:.2f} MB")

La variable ocupa 36.85 MB

In [35]:
df_mask_subset_utlcmovies.head()

                                                    review  label
1225797  Retrato interessante do processo criativo de u...      3
463663   Filme tipo legal, que promete algo diferente e...      3
388083   Sou fã do cinema argentino e esse filme não me...      4
522610   Pixar mandando bem de novo,filme divertido e c...      5
1316089                         a cara da sessão da tarde.      3

In [38]:
# Crear el nuevo dataset
df_mask_subset_utlcmovies.to_csv(PATH_RESULT+'/df_selfsupervised_subset_utlcmovies_'+str(date.today())+'.csv', index = False)